<!doctype html>
<html>
<head>
    <link rel = "stylesheet" href="/static/style.css">
</head>
<body>
    <h1 style="color:white;">회원가입</h1>
    <div id="register">
    <form name='form-register' action = "/regist" method="post">
      <span class="fontawesome-user"></span>
      <input type="text" name="userid" value="" placeholder="아이디"/><br>
      <span class="fontawesome-lock"></span>
      <input type="password" name="userpw" value="" placeholder="비밀번호"/><br>

      <input type="submit" name="" value="회원가입">
    </form>
  </div>
</body>
</html>
